// bower:scss
// endbower
@import "variables";
@import "bootstrap/imports";
@import "bootstrap/grid";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v15-latin-ext-regular.woff2') format('woff2'),
       url('../fonts/roboto-v15-latin-ext-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v15-latin-ext-700.woff2') format('woff2'),
       url('../fonts/roboto-v15-latin-ext-700.woff') format('woff');
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: $global-page-background-color;
    font: #{$global-font-size}/#{$global-line-height} #{$global-font-type};
    color: $global-text-color;
    min-width: $global-page-min-width;
    margin: 0;

    &.overflow-hidden {
        overflow: hidden;
    }
}

a {
    color: $global-link-color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $global-link-color-hover;
    }
}

::-moz-selection { 
    color: $global-selection-color;
    background: $global-selection-bg; 
}

::selection { 
    color: $global-selection-color;
    background: $global-selection-bg; 
}

img {
    width: 100%;
    height: auto;
}

textarea {
    width: 100%;
    display: block;
    resize: vertical;
}

.spinner {
    margin-bottom: 3rem;

    .modal__content + & {
        margin-top: 1.75rem;
    }
}

.spinner__inner {
    margin: 0 auto;
    width: 4.25em;
    height: 4.375em;
}

.spinner__inner > div {
    background-color: $header-color;
    height: 100%;
    width: 10px;
    float: left;
    margin-right: 4px;
    animation: stretchdelay 1s infinite ease-in-out;

    &:last-child { margin-right: 0 }
    &.rect2 {animation-delay: -0.9s }
    &.rect3 {animation-delay: -0.8s }
    &.rect4 {animation-delay: -0.7s }
    &.rect5 {animation-delay: -0.6s }

    .white & { background-color: #fff }
}


.spinner__blurb {
    color: $header-color;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5em;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.nojs--message {
    color: lighten(red, 20%);
    background-color: lighten(red, 40%);
    padding: 1em;
    margin: 0 1em .5em 1em;
}

.divider--right {
    border-right: .125em solid $divider-color;
    padding-right: .5em;
    margin-right: .5em;
}

.scroll__link:not(.header__logo) {
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(15, 15);
        opacity: 0;
        transition: transform .35s linear, opacity .75s linear;
    }

    &:active:after {
        transform: scale(0,0);
        opacity: .15;
        transition: 0s
    }
}

.button {
    font-size: 1em;
    padding: .5em 1em;
    display: inline-block;
    color: $button-color;
    background-color: $button-background-color;
    border: .0625em solid $button-border-color;
    border-radius: .25em;
    position: relative;
    overflow: hidden;
    transition: all .15s linear;
    user-select: none;

    i[class*="fa-"] {

        &.left {
            margin-right: .5em;
        }

        &.right {
            margin-left: .5em;
        }
    }

    .clicked {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:hover,
    &:focus,
    &:active {
        color: $button-color-hover;
        background-color: $button-background-color-hover;
    }

    &:focus {
        @include tab-focus();
    }

    &:active {
        box-shadow: inset 0 .2em .2em .05em rgba(0, 0, 0, 0.15);
    }
}

.button--transparent {

    &:hover,
    &:focus {
        background: transparent
    }
}

.button--loading {
    color: $button-color-hover;
    background-color: $button-background-color-hover;
}

.button--success,
.button--success:focus,
.button--success:hover {
    color: darken(greenyellow, 30%);
    background-color: lighten(greenyellow, 30%);
    border-color: darken(greenyellow, 20%);
}

.button--error,
.button--error:focus,
.button--error:hover {
    color: lighten(red, 20%);
    background-color: lighten(red, 47%);
    border-color: lighten(red, 35%)
}

.button-block {
    width: 100%;
    display: block;
}

.form__control {
    color: darken(#fff, 40%);
    background-color: #fff;
    border: .0625em solid darken(#fff, 25%);
    padding: .5em;
    transition: all .15s linear;

    &:focus {
        box-shadow: inset 0 0 .2em .1em rgba(0, 0, 0, 0.05);
        color: darken(#a6a6a6, 20%);
        outline: 0;
        background-color: lighten(#a6a6a6, 31%);
        border-color: darken(#fff, 27%);
    }

    &[disabled] {
        color: darken(#fff, 40%);
        background-color: lighten(#a6a6a6, 31%);
    }

    &.error {
        color: lighten(red, 15%);
        border-color: lighten(red, 35%);
        background-color: lighten(red, 48%);

        &::-webkit-input-placeholder { color: lighten(red, 30%) }
        &::-moz-placeholder { color: lighten(red, 30%) }
        &:-ms-input-placeholder { color: lighten(red, 30%)}
        &:focus {
            color: lighten(red, 12%);
            border-color: lighten(red, 33%);
            background-color: lighten(red, 46%);
        }
    }

    &.success {
        color: darken(greenyellow, 30%);
        background-color: lighten(greenyellow, 30%);
        border-color: darken(greenyellow, 20%);

        &::-webkit-input-placeholder { color: darken(greenyellow, 21%) }
        &::-moz-placeholder { color: darken(greenyellow, 21%) }
        &:-ms-input-placeholder { color: darken(greenyellow, 21%) }
    }
}

.form__group {
    margin-bottom: .65em;
    @include clearfix();

    label {
        color: darken(#a6a6a6, 20%);
        display: block;
        padding-top: .56em;
        padding-bottom: .56em;
    }
}

.form__control {
    width: 100%;
}

.form_buttons {
    text-align: right;
}

.asteriks {
    color: red;
}

.header__container {
    background-color: $header-color;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: $header-zindex;
    @include clearfix();

    &.shadow {
        box-shadow: 0 .2em .25em 0px rgba(0, 0, 0, 0.25);
    }
}

.main__navigation {
    background-color: $mobile-main-navigation-color;
    width: 100%
}

.header__logo {
    background: url('../images/logo.svg') no-repeat center center;
    position: relative;
    width: 8.875em;
    height: 3.25em;
    display: block;
    margin: 0 auto;
    color: $logo-color;
    transition: .2s color linear;
    user-select: none;

    &:hover,
    &:focus {
        color: $logo-color-hover;
    }

    &:focus {
        @include tab-focus();
    }
}

.menu__list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    @include clearfix();

    > li {
        float: left;
        border-right: .0625em solid $mobile-menu-list-separator-color;
        margin-top: .4em;
        margin-bottom: .4em;

        &:last-child { border-right: 0 }
    }
}

.menu__link {
    display: block;
    padding: .2em .75em;
    text-transform: uppercase;
    color: $mobile-menu-list-link-color;
    font-size: 1em;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    user-select: none;
    transition: .1s box-shadow linear, .15s color linear, background-color .2s linear;

    [class*="fa-"] {
        color: $mobile-menu-list-link-icon-color;
        margin-right: 0.35em;
        display: none;
        transition: .15s color linear;

        &.right {
            margin-left: .75em;
            margin-right: 0;
            display: inline-block;
        }

        &.small {
            font-size: .65em;
            vertical-align: middle;
            margin-top: -.275em;
        }
    }

    .dropdown--icon {
        transition: transform .15s linear, color .15s linear;

    }

    &:hover,
    &:focus {
        color: $mobile-menu-list-link-color-hover;
        outline: 0;
        [class*="fa-"] { color: $mobile-menu-list-link-icon-color-hover }
    }

    .expanded & {
        transition: .15s color linear, background-color .2s linear;
        color: $mobile-menu-list-link-color-active;
        &:hover { box-shadow: none }

        [class*="fa-"] {
            color: $mobile-menu-list-link-icon-color-active;
        }

        .dropdown--icon {
            transform: rotate(90deg);
        }

        .dropdown__menu {
            transition: opacity .25s linear;
            display: block;
        }
    }
}

.dropdown__menu {
    display: none;
    position: absolute;
    background-color: $mobile-dropdown-background;
    list-style: none;
    padding: .325em;
    margin-top: .375em;
    width: 100%;
    left: 0;
    z-index: $dropdown-zindex;

    > li {
        margin-bottom: .325em;
        > a {
            background-color: $mobile-dropdown-link-background;
            color: $mobile-dropdown-link-color;
            position: relative;
            overflow: hidden;
            display: block;
            padding: 0.35em .5em;
            transition: color .25s linear, background-color 0.15s linear;

            &:hover {
                color: $mobile-dropdown-link-color-hover;
                background-color: $mobile-dropdown-link-background-hover;

                .dropdown--icon {
                    color: $mobile-dropdown-link-icon-color-hover;
                }
            }

            &:focus { @include tab-focus() }
        }

        &:last-child { margin-bottom: 0 }

        .dropdown--icon {
            color: $mobile-dropdown-link-icon-color;
            font-size: .75em;
            margin-top: 0.4em;
            float: right;
            transition: transform .15s linear, color .15s linear;
        }

        &.expanded {

            .sub--dropdown__menu {
                display: block;
            }

            .dropdown--icon {
                transform: rotate(90deg);
            }
        }
    }
}

.sub--dropdown__menu {
    @include list-reset();
    display: none;

    > li {
        margin-top: .325em;

        > a {
            background-color: $mobile-sub-dropdown-link-background;
            color: $mobile-sub-dropdown-link-color;
            font-size: 0.9em;
            position: relative;
            overflow: hidden;
            display: block;
            padding: .4em .5em .4em 1em;
            transition: color .25s linear, background-color 0.15s linear;


            &:hover {
                background-color: $mobile-sub-dropdown-link-background-hover;
                color: $mobile-sub-dropdown-link-color-hover;
            }

            &:focus { @include tab-focus() }
        }
    }
}

.section__heading {
    color: $page-heading-color;
    margin-top: 0;
    margin-bottom: .8em;
    span {
        display: inline-block;
        border-bottom: .2em solid $page-heading-border-bottom-color;
        padding-bottom: .2em;
    }
}

.section__container {
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    @include clearfix();

    &:first-child {
        padding-top: 2em;
        padding-bottom: 2.75em;
    }
}

#welcome__section {
    background: $welcome-section-background;
    line-height: 1.5em;
    margin-top: 5.7em;
    display: flex;


    > .container {
        padding-left: 1em;
        padding-right: 1em;
        display: flex;
        justify-content: center;
        align-content: center;

        .row {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: table;
        width: 100%;

        > .container {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.welcome__heading {
    background: url('../images/fullname.svg') no-repeat center center;
    font-size: 1em;
    width: 17.5em;
    height: 2.25em;
    margin-top: 0;
    margin-bottom: .5em;
}

.welcome__description {
    color: $welcome-section-description-color;
    max-width: 32em;

    .inner {
        padding-top: .75em;
        max-width: 21.5em;
    }
}

.welcome__image {
    width: 8em;
    height: 8em;
    display: block;
    border: .25em solid $welcome-section-image-border-color;
    box-shadow: 0 0 0 .25em $welcome-section-image-shadow-color;
    border-radius: 50%;
    user-select: none;
}

.arrow_scroll--down {
    position: absolute;
    font-size: 2em;
    color: $welcome-section-scroll-arrow-color;
    bottom: 1.5em;
    left: 50%;
    overflow: hidden;
    height: 1.2em;
    width: 1.5em;
    text-align: center;
    border-radius: 50%;
    display: none;
    animation: bounce 2.5s infinite;
    transition: .2s color linear;
    transform: translateX(-50%);

    &:hover {
        color: $welcome-section-scroll-arrow-color-hover;
    }

    &:focus {
        @include tab-focus();
    }
}

.sidebar__links {
    @include list-reset();
    background-color: #181620;
    padding-top: .4em;
    padding-bottom: .4em;
    border-radius: .25em;

    > li {
        > a {
            font-size: 0.9em;
            color: darken(#fff, 20%);
            display: block;
            position: relative;
            overflow: hidden;
            padding: .5em .5em .45em .75em;
            transition: .15s color linear, .15s box-shadow linear;

            &:hover {
                color: #46ede8;
                box-shadow:: inset .3em 0 0 #46ede8;
                background: -webkit-linear-gradient(to left, rgba(190, 221, 244, 0) 0% rgba(164, 246, 243, 0.08) 100%);
                background: linear-gradient(to left, rgba(190, 221, 244, 0) 0%, rgba(164, 246, 243, 0.08) 100%);
            }
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}

#work__section {
    background: $work-section-background-color;
    border-bottom: .0625em solid $work-section-border-bottom-color;
    padding-bottom: .75em;

    [class^="col-"] {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    &.mobile__view {
        .row {
            margin-top: -1em;
            margin-bottom: -1em;
            white-space: nowrap;
            overflow-y: hidden;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;

            > [class*="col-"] {
                width: 100%;
                display: inline-block;
                margin-right: -1em;
                vertical-align: top;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 30em) {
    #work__section.mobile__view {
        .row {
            > [class*="col-"] {
                width: calc(50% + .5em);
            }
        }
    }
}

.scroll__reminder {
    float: right;
    font-size: .55em;
    background-color: $scroll-reminder-background-color;
    padding-left: 1em;
    padding-right: .5em;
    line-height: 2.25;
    border-radius: .25em;
    margin-top: .35em;
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    transition: .15s opacity linear, .15s visibility linear;

    .left {
        margin-right: .45em;
        animation: scroll-left 2s infinite;
    }

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}

.work__box {
    display: block;
    color: $work-box-color;
    border-radius: .25em;
    transition: .15s all linear;
    box-shadow: 0 0 0 .0625em rgba(0, 0, 0, .05), 0 .0625em .25em .0625em rgba(0, 0, 0, .1);
    user-select: none;

    &:hover,
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 .25em rgba(0, 0, 0, .1), 0 .0625em .25em .0625em rgba(0, 0, 0, .1);
        color: $work-box-color-hover;
    }

    img {
        border: .35em solid $work-box-image-border-color;
        display: block;
        border-radius: .25em .25em 0 0;
    }

    .work__content {
        font-size: 1.25em;
        border-radius: 0 0 .2em .2em;
        background-color: $work-box-content-background-color;
        padding: .8em;
        margin-top: -.28em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

    }
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: $modal-background-color;
    overflow-y: auto;
    display: none;
    transition: opacity .2s linear;

    &.active {
        display: block;
    }

    &.in {
        animation: fadeIn .25s;
        animation-fill-mode: forwards;
    }

    &.out {
        animation: fadeOut .25s;
    }
}

.modal__container {
    padding-bottom: 1em;
}

.modal__heading {
    padding: 1.25em 0;
    @include clearfix();
}

.modal__title {
    color: $modal-title-color;
    padding: .25em .5em .25em .25em;
    background-color: $modal-title-background-color;
    width: calc(100% - 47px);
    height: 42px;
    font-size: 1.5em;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;

    &.has-live {
        width: calc(100% - 94px);
    }
}

.modal__content {
    color: $modal-content-color;
    font-size: 1.1em;
    line-height: 1.5;

    a,
    a:hover,
    a:focus {
        color: #46ede8;
    }
}

.modal__image {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;

    &.loaded {
        opacity: 1;
        visibility: visible;
    }

    .modal__content + & {
        margin-top: 1.25em;
    }
}

.see__live {
    background-color: $modal-live-button-background-color;
    color: $modal-close-button-color;
    float: left;
    font-size: 26px;
    padding-left:  8px;
    padding-right: 8px;
    margin-left: 5px;
    display: inline-block;
    height: 42px;
    line-height: 46px;
    transition: .1s all linear;

    span {
        display: inline-block;
        font-size: 18px;
        line-height: 42px;
        margin-left: 5px;
        vertical-align: top;
    }

    i {
        line-height: 25px;
    }

    &:hover,
    &:focus {
        color: $modal-close-button-color-hover;
        background-color: $modal-live-button-background-color-hover;
    }
}

.close__button {
    background-color: $modal-close-button-background-color;
    color: $modal-close-button-color;
    padding-left:  8px;
    padding-right: 8px;
    margin-left: 5px;
    float: left;
    display: block;
    font-size: 33px;
    height: 42px;
    transition: .1s all linear;

    i {
        line-height: 25px;
    }

    &:hover,
    &:focus {
        color: $modal-close-button-color-hover;
        background-color: $modal-close-button-background-color-hover;
    }

    &:focus {
        outline: 0;
    }
}

#contact__section {
    color: $contact-section-color;
    background-color: $contact-section-background-color;
    box-shadow: 0 -.2em .5em rgba(0, 0, 0, .025);

    a {
        color: #737373;
        display: inline-block;

        &:focus {
            @include tab-focus();
        }
    }
}

.contact__links {
    @include list-reset();

    li {
        margin-bottom: .75em;

        a {
            line-height: 1.5em;
            border-bottom: .0625em dotted darken(#fff, 15%);
            transition: .15s border linear;

            &:hover {
                border-bottom: .0625em dotted darken(#fff, 32%);
            }

            &:focus {
                @include tab-focus();
            }
        }
    }
}

.form__column {
    border-top: .0625em solid $form-column-border-color;
    padding-top: 1em;
    margin-top: 1.75em;
}

.contact__icon {
    background: darken(#fff, 10%);
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    min-width: 2em;
    margin-right: .75em;
    border-radius: .25em;
    padding-left: .3em;
    padding-right: .3em;

    &.fa-github:before { margin-left: 3px }
    &.fa-linkedin:before { margin-left: 2px }
    &.fa-envelope-o:before { margin-left: 1px }

}

.footer__container {
    color: darken(#fff, 50%);
    background-color: darken(#f1f1f1, 4%);
    border-top: .0625em solid darken(#f1f1f1, 6%);
    padding: 1em 0;
}

.top--scroller {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    right: 1.5em;
    bottom: 2.5em;
    transition: all .2s linear;

    &.visible {
        background-color: white;
        visibility: visible;
        opacity: 1;
        transform: translateY(1em);
    }
}

.landscape--trigger {
    display: none;
}

@media screen and (max-width: 47.9375em) {
    .dropdown__menu > li > a .clicked { background-color: rgba(0, 0, 0, .075) }
    .form__buttons button { display: block; width: 100% }
    .footer__container { text-align: center }
    .welcome__message { text-align: center }
    .welcome__image {
        margin-bottom: 1.5em;
    }

    .welcome__heading {
        margin-left: auto;
        margin-right: auto
    }

    .welcome__description {
        padding-left: 1em;
        padding-right: 1em;
    }

    @media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .welcome__image,
        .welcome__description {
            margin-left: auto;
            margin-right: auto;
        }

        #welcome__section > .container .row {
            display: block;
        }
    }

    @media screen and (max-height: 23.4375em) {

        #welcome__section {
            margin-top: 3.25em;
        }

        .header__logo {
            margin: 0 0 0 1em;
        }

        .main__navigation {
            opacity: 0;
            position: absolute;
            visibility: hidden;
            transform: translateY(-1em);
            transition: .2s all linear;

            &.open {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }

        .landscape--trigger {
            background: $mobile-landscape-menu-toggle-color;
            padding: .5em .75em;
            display: block;
            position: absolute;
            top: .5em;
            right: .5em;

            i {
                margin-top: -.3em;
                padding-right: .5em;
                vertical-align: middle;
            }
        }
    }
}

@media screen and (min-width: 48em) {

    .header__container {
        height: $dekstop-header-height;

        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .main__navigation {
        width: auto;
        background-color: $main-navigation-color;
        float: right;
    }

    .header__logo {
        height: 2em;
        display: block;
        float: left;
        margin-top: .5em;
        &:after {
            content: $logo-description;
            color: $logo-description-color;
            display: inline-block;
            border-left: .0625em solid $logo-description-separator-color;
            margin-left: .9em;
            margin-top: -.525em;
            padding-left: .65em;
            position: absolute;
            right: -10.5em;
            top: 50%;
        }
    }

    .menu__list {
        margin-left: 0;
        margin-right: 0;
        display: block;
        width: auto;

        > li {
            position: relative;
            border-right: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .menu__link {
        padding: 1em;

        [class*="fa-"] {
            color: $menu-list-link-icon-color;
            display: inline-block;
            &.small {
                margin-top: -.155em;
            }
        }

        &:hover,
        &:focus {
            background: -webkit-linear-gradient(to bottom, rgba(190, 221, 244, 0) 0%, rgba(181, 230, 244, 0) 35%, rgba(164, 246, 243, 0.1) 100%);
            background: linear-gradient(to bottom, rgba(190, 221, 244, 0) 0%, rgba(181, 230, 244, 0) 35%, rgba(164, 246, 243, 0.1) 100%);
            color: $menu-list-link-color-hover;
            box-shadow: inset 0 -0.2em 0 0 $menu-list-link-border-bottom-hover;

            [class*="fa-"] { color: $menu-list-link-icon-color-hover }
        } 

        .expanded & {
            color: $menu-list-link-color-active;
            
            [class*="fa-"] { color: $menu-list-link-icon-color-active }
            &:hover { background: transparent }
            .dropdown__menu { display: block }
        }
    }

    .dropdown__menu {
        background-color: $dropdown-background;
        border-bottom-left-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        min-width: 12em;
        padding: .3em 0;
        margin-top: 0;

        &.right {
            right: 0;
            left: auto;
        }

        > li {
            margin-bottom: 0;
            > a {
                background-color: $dropdown-link-background;
                font-size: 0.85em;
                padding: 0.5em 0.75em;
                color: $dropdown-link-color;

                &:hover {
                    color: $dropdown-link-color-hover;
                    background-color: $dropdown-link-background-hover;

                    .dropdown--icon {
                        color: $dropdown-link-icon-color-hover;
                    }
                }

                .dropdown--icon {
                    color: $dropdown-link-icon-color;
                }
            }
        }
    }

    .sub--dropdown__menu {
        > li {
            margin-top: 0;

            > a {
                background-color: $sub-dropdown-link-background;
                color: $sub-dropdown-link-color;
                font-size: 0.85em;
                padding-left: 1.25em;

                &:hover {
                    color: $sub-dropdown-link-color-hover;
                    background-color: $sub-dropdown-link-background-hover;
                }
            }
        }
    }

    #welcome__section {
        position: relative;
        background: $welcome-section-background;
        background: linear-gradient(to top, $welcome-section-background 0%, $header-color 80%);
        margin-top: $dekstop-header-height;
        overflow: hidden;

        > .container {
            .row {
                flex-direction: row;
            }
        }
    }

    .welcome__background {
        position: absolute;
        width: calc(100% - 1.5rem);
        height: 100vh;
        top: -2rem;
        right: 1rem;
        bottom: 0;
        left: .5rem;
        opacity: 0;
        transform: translateY(-1rem);
        transition: .5s opacity ease-in;
        object-fit: cover;

        .bg--loaded & { 
            opacity: 1;
        }
    }

    .welcome__message {
        margin-left: 2em;
    }

    .welcome__image {
        width: 11em;
        height: 11em;
    }

    .welcome__heading {
        width: 25em;
        height: 2.75em;
        margin-bottom: .5em;
    }

    .welcome__description {
        max-width: 25em;
        margin-left: .5em;
    }

    .form__group {
        label {
            float: left;
            text-align: right;
            margin-right: 1em;
            min-width: 3.5em;
        }
    }

    .form__column {
        padding-top: 2em;
        margin-top: 1.25em;
    }

    .form__control {
        float: left;
        width: calc(100% - 4.5em);
    }

    .form__buttons {
        text-align: right;
    }

    .section__container {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    #work__section {
        [class^="col-"] {
            margin-top: 0;
        }
    }

    .modal__container {
        padding-left: 0;
        padding-right: 0;
    }

    .modal__title {
        width: calc(100% - 47px);

        &.has-live {
            width: calc(100% - 175px);
        }
    }

    .see__live {
        padding-left:  12px;
        padding-right: 12px;
    }
}

@media screen and (min-width: 48em) and (max-width: 61.9375em) {
    .section__container {
        &:first-child {
            padding-top: 3.5em;
            padding-bottom: 4em;
        }
    }
}

@media screen and (max-width: 61.9375em) {

    .form__column:before {
        content: 'OR';
        background-color: #fff;
        font-size: .75em;
        border: .0625em solid $form-column-border-color;
        padding: .25em .5em;
        margin-left: -1.35em;
        border-radius: .25em;
        line-height: 1;
        position: absolute;
        top: -.833em;
        left: 50%;
    }
}

@media screen and (min-width: 62em) {

    #welcome__section,
    #work__section {
        min-height: calc(100vh - #{$dekstop-header-height});
    }

    .arrow_scroll--down {
        display: block;
    }

    .form__column {
        margin-top: 0;
        padding-top: 0;
        padding-left: 1.25em;
        border-top: 0;
        border-left: .0625em solid $form-column-border-color;
    }

    .work__box {
        position: relative;
        overflow: hidden;

        html.no-js & {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }

        .work__content {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 0 0 .25em .25em;
            transition: .15s transform linear;
            transform: translateY(100%);
        }

        &:hover,
        &:focus {
            .work__content {
                transform: translateY(0);
            }
        }
    }

    .modal__content {
        font-size: 1.25em;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translate(-50%, 0);
    }

    40% {
        transform: translate(-50%, -30px);
    }

    60% {
        transform: translate(-50%, -15px);
    }
}

@keyframes ripple {
    from {
        width: 0;
        height: 0;
        opacity: 1;
    }

    to {
        width: 250px;
        height: 250px;
        opacity: 0;
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-8px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.55);
  }

  20% {
    transform: scaleY(1.2);
  }
}

// Boostrap imports
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";
