// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=latin-ext');
@import "variables";
@import "bootstrap/imports";

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: $page-background-color;
    font: 16px/1.25 'Roboto', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    color: $global-text-color;
    min-width: 20em;
    margin: 0;
    height: 100%;
}

a {
    color: $global-link-color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $global-link-color-hover;
    }
}

img {
    width: 100%;
    height: auto;
}

textarea {
    width: 100%;
    display: block;
    resize: vertical;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.clicked {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  transform: scale(0);

  &.clicked--animate {
      animation: ripple 0.65s linear;
  }
}

.button {
    color: darken(#a6a6a6, 8%);
    font-size: 1em;
    padding: .5em 1em;
    display: inline-block;
    background-color: transparent;
    border: .0625em solid #a6a6a6;
    border-radius: .25em;
    user-select: none;
    transition: all .15s linear;
    position: relative;
    overflow: hidden;

    i[class*="fa-"] {

        &.left {
            margin-right: .5em;
        }

        &.right {
            margin-left: .5em;
        }
    }

    .clicked {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:hover,
    &:focus,
    &:active {
        color: darken(#a6a6a6, 15%);
        background-color: lighten(#a6a6a6, 30%);
    }

    &:focus {
        @include tab-focus();
    }

    &:active {
        box-shadow: inset 0 .2em .2em .05em rgba(0, 0, 0, 0.15);
    }
}

.button-transparent {

    &:hover,
    &:focus {
        background: transparent
    }
}

.button-block {
    width: 100%;
    display: block;
}

.form__control {
    color: darken(#a6a6a6, 10%);
    background-color: #fff;
    border: .0625em solid #a6a6a6;
    padding: .5em;
    transition: all .15s linear;

    &:focus {
        box-shadow: inset 0 0 .2em .1em rgba(0, 0, 0, 0.08);
        color: darken(#a6a6a6, 20%);
        outline: 0;
        background-color: lighten(#a6a6a6, 31%);
        border-color: darken(#a6a6a6, 5%);
    }
}

.form__group {
    margin-bottom: .65em;
    @include clearfix();

    label {
        color: darken(#a6a6a6, 20%);
        display: block;
        padding-top: .56em;
        padding-bottom: .56em;
    }
}

.form__control {
    width: 100%;
}

.form_buttons {
    text-align: right;
}

.header__container {
    background-color: $header-color;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    @include clearfix();
}

.main__navigation {
    background-color: $mobile-main-navigation-color;
    width: 100%
}

.header__logo {
    font: 1.75em/1.88 'Lobster', Sans-serif;
    display: flex;
    justify-content: center;
    color: $logo-color;
    transition: .2s color linear;
    user-select: none;

    &:hover,
    &:focus {
        color: $logo-color-hover;
    }

    &:focus {
        @include tab-focus();
    }
}

.menu__list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    @include clearfix();

    > li {
        float: left;
        border-right: .0625em solid $mobile-menu-list-separator-color;
        margin-top: .4em;
        margin-bottom: .4em;

        > a {
            display: block;
            padding: .2em .75em;
            text-transform: uppercase;
            color: $mobile-menu-list-link-color;
            font-size: 1em;
            font-weight: bold;
            position: relative;
            overflow: hidden;
            transition: .1s box-shadow linear, .15s color linear, background-color .2s linear;

            [class*="fa-"] {
                color: $mobile-menu-list-link-icon-color;
                margin-right: 0.35em;
                display: none;
                transition: .15s color linear;

                &.right {
                    margin-left: .75em;
                    margin-right: 0;
                    display: inline-block;
                }

                &.small {
                    font-size: .65em;
                    vertical-align: middle;
                    margin-top: -.275em;
                }
            }

            .dropdown--icon {
                transition: transform .15s linear, color .15s linear;

            }

            &:hover {
                color: $mobile-menu-list-link-color-hover;

                [class*="fa-"] { color: $mobile-menu-list-link-icon-color-hover }
            }

            &:focus { @include tab-focus() }
        }

        &.expanded {
            > a {
                transition: .15s color linear, background-color .2s linear;
                color: $mobile-menu-list-link-color-active;
                &:hover { box-shadow: none }

                [class*="fa-"] {
                    color: $mobile-menu-list-link-icon-color-active;
                }

                .dropdown--icon {
                    transform: rotate(90deg);
                }
            }

            .dropdown__menu {
                transition: opacity .25s linear;
                display: block;
            }
        }

        &:last-child { border-right: 0 }
    }
}

.dropdown__menu {
    display: none;
    position: absolute;
    background-color: $mobile-dropdown-background;
    list-style: none;
    padding: .325em;
    margin-top: .375em;
    width: 100%;
    left: 0;
    z-index: 100;

    > li {
        margin-bottom: .325em;
        > a {
            background-color: $mobile-dropdown-link-background;
            color: $mobile-dropdown-link-color;
            position: relative;
            overflow: hidden;
            display: block;
            padding: 0.35em .5em;
            transition: color .25s linear, background-color 0.15s linear;

            &:hover {
                color: $mobile-dropdown-link-color-hover;
                background-color: $mobile-dropdown-link-background-hover;

                .dropdown--icon {
                    color: $mobile-dropdown-link-icon-color-hover;
                }
            }

            &:focus { @include tab-focus() }
        }

        &:last-child { margin-bottom: 0 }

        .dropdown--icon {
            color: $mobile-dropdown-link-icon-color;
            font-size: .75em;
            margin-top: 0.4em;
            float: right;
            transition: transform .15s linear, color .15s linear;
        }

        &.expanded {

            .sub--dropdown__menu {
                display: block;
            }

            .dropdown--icon {
                transform: rotate(90deg);
            }
        }
    }
}

.sub--dropdown__menu {
    @include list-reset();
    display: none;

    > li {
        margin-top: .325em;

        > a {
            background-color: $mobile-sub-dropdown-link-background;
            color: $mobile-sub-dropdown-link-color;
            font-size: 0.9em;
            position: relative;
            overflow: hidden;
            display: block;
            padding: .4em .5em .4em 1em;
            transition: color .25s linear, background-color 0.15s linear;


            &:hover {
                background-color: $mobile-sub-dropdown-link-background-hover;
                color: $mobile-sub-dropdown-link-color-hover;
            }

            &:focus { @include tab-focus() }
        }
    }
}

.section__heading {
    margin-top: 0;
    margin-bottom: .8em;
    span {
        display: inline-block;
        border-bottom: .2em solid $page-heading-border-bottom-color;
        padding-bottom: .2em;
    }
}

.section__container {
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    @include clearfix();
}

#welcome__section {
    background: $welcome-section-background;
    margin-top: 5.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome__message {
    text-align: center;

    h2 {
        font: 3em 'Lobster', Sans-serif;
        color: #46ede8;
        margin-top: 0;
        margin-bottom: .5em
    }

    p {
        max-width: 32em;
        margin: 0 auto;
        padding-left: 1em;
        padding-right: 1em;
    }
}

.arrow_scroll--down {
    position: absolute;
    font-size: 2em;
    bottom: 1.5em;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    animation: bounce 2.5s infinite;
    transition: .2s color linear;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    border-radius: 50%;
    display: none;

    &:hover {
        color: #46ede8;
    }

    &:focus {
        @include tab-focus();
    }
}

.sidebar__links {
    @include list-reset();
    background-color: #181620;
    padding-top: .4em;
    padding-bottom: .4em;
    border-radius: .25em;

    > li {
        > a {
            font-size: 0.9em;
            color: darken(#fff, 20%);
            display: block;
            position: relative;
            overflow: hidden;
            padding: .5em .5em .45em .75em;
            transition: .15s color linear, .15s box-shadow linear;

            &:hover {
                color: #46ede8;
                box-shadow:: inset .3em 0 0 #46ede8;
                background: -webkit-linear-gradient(to left, rgba(190, 221, 244, 0) 0% rgba(164, 246, 243, 0.08) 100%);
                background: linear-gradient(to left, rgba(190, 221, 244, 0) 0%, rgba(164, 246, 243, 0.08) 100%);
            }
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}

#work__section {
    background: #f1f1f1;
    border-bottom: .0625em solid darken(#f1f1f1, 3%);

    [class^="col-"] {
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.work__box {
    display: block;
    color: #888;
    border-radius: .25em;
    transition: .15s all linear;
    box-shadow: 0 0 .2em .1em rgba(0, 0, 0, .05);

    &:hover,
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 .2em rgba(0, 0, 0, .08);
        color: #555;
    }

    img {
        border: .35em solid #fff;
        display: block;
        border-radius: .25em .25em 0 0;
    }

    .work__content {
        border-radius: 0 0 .25em .25em;
        background-color: #fff;
        padding: 1em;
    }
}

#contact__section {
    background-color: #fff;
    box-shadow: 0 -.2em .5em rgba(0, 0, 0, .025);
}

.footer__container {
    color: darken(#fff, 50%);
    background-color: darken(#fff, 13%);
    border-top: .0625em solid darken(#fff, 15%);
    padding: 1em 0;
}

.top--scroller {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    right: 1em;
    bottom: 2em;
    transition: all .2s linear;

    &.visible {
        transform: translateY(1em);
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (max-width: 47.9375em) {
    .dropdown__menu > li > a .clicked { background-color: rgba(0, 0, 0, .075) }
    .form__buttons button { display: block; width: 100% }
}

@media screen and (min-width: 48em) {

    .header__container {
        height: 3.25em;

        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .main__navigation {
        width: auto;
        background-color: $main-navigation-color;
        float: right;
    }

    .header__logo {
        display: inline-block;
        &:after {
            font: .55em/1.25 'Roboto', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
            content: $logo-description;
            color: $logo-description-color;
            display: inline-block;
            border-left: .0625em solid $logo-description-separator-color;
            margin-left: .9em;
            margin-top: -.15em;
            padding-left: .65em;
            vertical-align: middle;
        }
    }

    .menu__list {
        margin-left: 0;
        margin-right: 0;
        display: block;
        width: auto;
        > li {
            position: relative;
            border-right: 0;
            margin-top: 0;
            margin-bottom: 0;
            > a {
                color: $menu-list-link-color;
                padding: 1em;

                [class*="fa-"] {
                    color: $menu-list-link-icon-color;
                    display: inline-block;
                    &.small {
                        margin-top: -.155em;
                    }
                }

                &:hover {
                    background: -webkit-linear-gradient(to bottom, rgba(190, 221, 244, 0) 0%, rgba(181, 230, 244, 0) 35%, rgba(164, 246, 243, 0.1) 100%);
                    background: linear-gradient(to bottom, rgba(190, 221, 244, 0) 0%, rgba(181, 230, 244, 0) 35%, rgba(164, 246, 243, 0.1) 100%);
                    color: $menu-list-link-color-hover;
                    box-shadow: inset 0 -0.2em 0 0 $menu-list-link-border-bottom-hover;

                    [class*="fa-"] {
                        color: $menu-list-link-icon-color-hover;
                    }
                }
            }

            &.expanded {
                background-color: $menu-list-background-active;

                > a {
                    color: $menu-list-link-color-active;

                    [class*="fa-"] {
                        color: $menu-list-link-icon-color-active;
                    }

                    &:hover {
                        background: transparent;
                    }
                }

                .dropdown__menu { display: block }
            }
        }
    }

    .dropdown__menu {
        background-color: $dropdown-background;
        border-bottom-left-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        min-width: 12em;
        padding: .3em 0;
        margin-top: 0;

        &.right {
            right: 0;
            left: auto;
        }

        > li {
            margin-bottom: 0;
            > a {
                background-color: $dropdown-link-background;
                font-size: 0.85em;
                padding: 0.5em 0.75em;
                color: $dropdown-link-color;

                &:hover {
                    color: $dropdown-link-color-hover;
                    background-color: $dropdown-link-background-hover;

                    .dropdown--icon {
                        color: $dropdown-link-icon-color-hover;
                    }
                }

                .dropdown--icon {
                    color: $dropdown-link-icon-color;
                }
            }
        }
    }

    .sub--dropdown__menu {
        > li {
            margin-top: 0;

            > a {
                background-color: $sub-dropdown-link-background;
                color: $sub-dropdown-link-color;
                font-size: 0.85em;
                padding-left: 1.25em;

                &:hover {
                    color: $sub-dropdown-link-color-hover;
                    background-color: $sub-dropdown-link-background-hover;
                }
            }
        }
    }

    #welcome__section {
        background: url('../images/welcome-background.svg') repeat-y center / 98% fixed $welcome-section-background;
        background: url('../images/welcome-background.svg') repeat-y center / 98% fixed, -webkit-linear-gradient(to top, $welcome-section-background 0% $header-color 80%);
        background: url('../images/welcome-background.svg') repeat-y center / 98% fixed, linear-gradient(to top, $welcome-section-background 0%, $header-color 80%);
        margin-top: 3.25em;
    }

    .form__group {
        label {
            float: left;
            text-align: right;
            margin-right: 1em;
            min-width: 3.5em;
        }
    }

    .form__control {
        float: left;
        width: calc(100% - 4.5em);
    }

    .form__buttons {
        text-align: right;
    }

    #work__section {

        [class^="col-"] {

            &:nth-last-child(2) {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (min-width: 62em) {

    #welcome__section,
    #work__section  {
        min-height: calc(100vh - 3.25em);
    }

    .arrow_scroll--down {
        display: block;
    }

    .form__column {
        border-left: .0625em solid #d0d0d0;
        padding-left: 1em;
    }

    #work__section {

        [class^="col-"] {

            &:nth-last-child(3) {
                margin-bottom: 0;
            }
        }
    }

    .work__box {
        position: relative;
        overflow: hidden;
        .work__content {
            position: absolute;
            bottom: .3em;
            left: .3em;
            right: .3em;
            border-radius: 0;
            transform: translateY(100%);
            transition: .25s transform linear;
        }

        &:hover,
        &:focus {
            .work__content {
                transform: translateY(.3em);
            }
        }
    }
}

@media screen and (min-width: 75em) {}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translate(-50%, 0);
    }

    40% {
        transform: translate(-50%, -30px);
    }

    60% {
        transform: translate(-50%, -15px);
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5)
    }
}

// Boostrap imports
@import "bootstrap/grid";
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";
