$global-text-color: #fff;
$global-link-color: #fff;
$global-link-color-hover: darken($global-link-color, 15%);

$header-color: #181620;
$page-background-color: #1e1c2b;

// Logo
$logo-color: #46ede8;
$logo-color-hover: #fff;

// Logo description
$logo-description: 'Front-End Developer';
$logo-description-color: #fff;
$logo-description-separator-color: #46ede8;

// Main navigation
$main-navigation-color: transparent;
$mobile-main-navigation-color: lighten(#1b1a27, 4.5%);
$mobile-menu-list-separator-color: #46ede8;

// Menu list
$menu-list-background-active: darken(#181620, 2.5%);

$menu-list-link-color: #fff;
$menu-list-link-color-hover: #46ede8;
$menu-list-link-color-active: #fff;

$menu-list-link-icon-color: #46ede8;
$menu-list-link-icon-color-hover: #fff;
$menu-list-link-icon-color-active: #46ede8;

$menu-list-link-border-bottom-hover: #46ede8;

// Mobile menu list
$mobile-menu-list-link-color: #fff;
$mobile-menu-list-link-color-hover: #46ede8;
$mobile-menu-list-link-color-active: #46ede8;

$mobile-menu-list-link-icon-color: #46ede8;
$mobile-menu-list-link-icon-color-hover: #fff;
$mobile-menu-list-link-icon-color-active: #fff;

// dropdown-menu colors
$dropdown-background: darken(#181620, 2.5%);

$dropdown-link-color: #B3B3B3;
$dropdown-link-color-hover: #46ede8;

$dropdown-link-background: transparent;
$dropdown-link-background-hover: lighten(#181620, .15%);

$dropdown-link-icon-color: darken(#fff, 45%);
$dropdown-link-icon-color-hover: #fff;

// Mobile dropdown-menu colors
$mobile-dropdown-background: #fff;

$mobile-dropdown-link-color: lighten(#000, 28%);
$mobile-dropdown-link-color-hover: lighten(#000, 26%);

$mobile-dropdown-link-background: lighten(#1e1c2b, 75%);
$mobile-dropdown-link-background-hover: lighten(#1e1c2b, 70%);

$mobile-dropdown-link-icon-color: lighten(#1e1c2b, 45%);
$mobile-dropdown-link-icon-color-hover: lighten(#1e1c2b, 40%);

// Sub dropdown-menu colors
$sub-dropdown-link-color: darken(#B3B3B3, 27%);
$sub-dropdown-link-color-hover: #46ede8;

$sub-dropdown-link-background: transparent;
$sub-dropdown-link-background-hover: lighten(#181620, .15%);

// Mobile sub dropdown-menu colors
$mobile-sub-dropdown-link-color: lighten(#1e1c2b, 30%);
$mobile-sub-dropdown-link-color-hover: lighten(#1e1c2b, 25%);

$mobile-sub-dropdown-link-background: lighten(#1e1c2b, 80%);
$mobile-sub-dropdown-link-background-hover: lighten(#1e1c2b, 77.5%);

$page-heading-border-bottom-color: #46ede8;
