{{#projects}}
<div id="modal-{{ Id }}" class="modal">
    <div class="modal__container container">
        <div class="modal__heading">
            <div class="modal__title">
                {{ Title }}
            </div>
            <a href="#" class="close__button">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="modal__content">
            {{ Content }}
        </div>
    </div>
</div>
{{/projects}}
