{{#projects}}
    <div class="col-sm-6 col-md-4">
        <a href="#modal-{{ @index }}" class="work__box">
            <img src="{{ ThumbUrl }}" alt="{{ ThumbAlt }}">
            <div class="work__content">
                {{ Title }}
            </div>
        </a>
    </div>
{{/projects}}
